html{
    background-color: black;
}


h1{
    color:#000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 1520px;
    font-size: 20px;
    text-align: center;
}

h2.hi{
    color:#ffffff;
    font-size: 15px;
}

h2.hobby{
    color:#ffffff;
    font-size: 15px;
}

p.game{
    color:#ffffff;
}


ul{
    color:#ffffff;
}

div.fifa{
    box-sizing: border-box;
   
    border-style: solid;
}

div.lol{
    box-sizing: border-box;
   
    border-style: solid;
}