
/* 머리 */
div.header {
    background: white;
    
    position: absolute;

    margin-left : 10px;
    margin-top : 10px;
    width: 1500px;
    height: 200px;
}

/* 검색창 필드 위치 */
.search_fieldset{
    border : none;

    text-align: left;
    margin-left: 200px;
}

a{
    color: inherit;
    text-decoration: none;
}

input{
    position: relative;
    margin-left : 50px;
    top : -15px;
    width: 500px;
    height : 30px;
    font-size: 13px;
}

.search_button{
    border : none;
    background: none;

    width : 5px;
    height : 5px;
}

.nav_list{
    list-style: none;
    margin-left : 200px;
}

.nav_list li{
    float : left;
    margin-right: 15px;
}


li.weather{
  margin-left : 200px;  
}

/* 몸통 */
div.main {
    background:white;
    
    position: absolute;

    margin-left : 10px;
    margin-top: 210px;
    width: 1480px;
    height: 1200px;
}

/* 로그인 */
.login_fieldset{
    background-color: #ffffff;

    position: absolute;
    text-align: left;

    margin-left : 1020px;
    margin-top: 10px;
    width: 280px;
    height: 140px;
}

.login_ex{
    color: #b6b6b6;
    font-size:10px;

    text-align: center;

    margin-top:20px;
   
}

.idpw_find{
    color: #b6b6b6;
    font-size:10px;

    text-align: center;

    margin-top:70px;
}

.idpw_find li{
    float : left;
    margin-right: 25px;
}

.login_button{
    border : none;
    background: none; 
    background-image: url("./login.png");
    background-size: contain;

    position: absolute;
    
    left : 6%;
    top: 35%;
    width: 270px;
    height: 40px;
    
}

/* 뉴스 */
.news_from{
    width: 1250px;
    height:300px;

}
.news_fieldset{
    background-color: #ffffff;

    position: absolute;
    text-align: left;

    background-image: url("./News.png");
    background-size: contain;
    margin-left : 180px;
    margin-top: 10px;
    width: 800px;
    height: 400px;
}

div.footer {
    background-color: #ffffff;

    position: absolute;
    
    margin-left: 10px;
    margin-top: 1410px;
    
    width: 1480px;
    height: 200px;
}
