

div.header {
    background: rgb(212, 254, 201);
    
    position: absolute;

    left : 2%;
    top : 2%;
    width: 96%;
    height: 15%;
}

div.main {
    background: rgb(183, 255, 221);
    
    position: absolute;

    left : 2%;
    top: 15%;
    width: 96%;
    height: 75%;
}

div.footer {
    background-color: #d5fffa;

    position: absolute;

    top: 90%;
    left: 2%;
    width: 96%;
    height: 8%;
}
